<div class="flex flex-column p-2">
    <h3>Buscador</h3>

    <mat-form-field>
        <mat-label>Buscador de cartoons</mat-label>

        <input type="text" 
            matInput
            [formControl] = "searchInput"
            (input)="searchCartoon()"
            [matAutocomplete]="auto"
        >

        <mat-autocomplete autoActiveFirstOption
            #auto="matAutocomplete"
            (optionSelected)="onSelectedOption($event);"
            >

            <mat-option *ngFor="let cartoon of listCartoon" [value]="cartoon">
                {{cartoon.superhero}}
            </mat-option>
        
            <mat-option
                *ngIf="listCartoon.length === 0 && searchInput.value!.length > 0 "  
            >
                No hay resultados para: {{searchInput.value}}
            </mat-option>

        </mat-autocomplete>

    </mat-form-field>

    {{selectedCartoon | json}}


</div>