<div class="flex flex-column">
    <span class="text-lg mb-4">Registrate</span>

    <mat-form-field>
        <mat-label>Usuario</mat-label>
        <input type="text" matInput placeholder="Usuario">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input type="text" matInput placeholder="Usuario">
    </mat-form-field>

    <mat-form-field>
        <mat-label>Contrase&ntilde;a</mat-label>
        <input type="password" matInput placeholder="Contrase&ntilde;a">
    </mat-form-field>

    <button mat-button mat-flat-button color="warn">
        <mat-icon>person_add</mat-icon>
        Crear cuenta
    </button>

    <div class="flex justify-content-end mt-5">
        <a routerLink="/auth/login">¿Ya Tienes cuenta?</a>
    </div>

</div>